.pokemonlogo {
    height: 5em;
    justify-items: flex-start;
    margin: 5px;
}

.img {
    margin: 10px;
}

.navbar1 {opacity:0;
    filter:alpha(opacity=0);
    position:relative;
    margin-bottom:-30px;
    z-index:10;}

.navbar1:hover {opacity:0.9;
    filter:alpha(opacity=70);}